{% extends 'base.html.twig' %}


{% block title %}{{ 'section.checks'|trans }}{% endblock %}


{% block body %}
<main>
    <header>
        <h1>{{ 'section.checks'|trans }}</h1>
    </header>

    <section class="checks">
{% for report in reports.performance_reports %}
        <div class="check">
            <header>
                <h2><a href="{{
                    path('check_show', { 'slug': report.check.slug })
                }}">{{ report.check.name }}</a></h2>
            </header>

        </div>
{% endfor %}
    </section>
</main>
{% endblock %}
