{% extends 'base.html.twig' %}


{% block title %}{% endblock %}


{% block body %}
<main>
    <header>
        <h1 class="header-title">{{ summary.check.name }}</h1>
        <p class="subtitle"></p>
    </header>

    <section class="profile">

    </section>
</main>
{% endblock %}
