body > footer {
  background-color: $white;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  font-size: $font-size-sm;

  color: $text-muted;
  a {
    color: $dark;
    :hover,
    :active,
    :focus {
      color: $dark;
    }
  }
  ul {
    margin-bottom: 0;
  }
}
