@import "bootstrap";
@import "variables";

@import "app_main";
@import "app_footer";

#skippy {
  display: block;
  padding: $spacer;
  color: $white;
  background-color: $dark;
  outline: 0;
}

.my-form-actions {
  padding-top: $spacer;
}